PORT=8787
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_ASSET_CODE=ZOLVENCY
STELLAR_ASSET_ISSUER=
STELLAR_MIN_BALANCE=1
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_PRIVATE_KEY=
GLITCH_MANAGER_ADDRESS=
